gateway/flows.json
[
    {
        "id": "6e04ada28a2e9f82",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78c2213df8e5b209",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a134ec9fced74993",
        "type": "websocket-listener",
        "path": "/ws/sensors",
        "wholemsg": "false"
    },
    {
        "id": "8ef5c20e4e888e47",
        "type": "websocket-listener",
        "path": "/ws/ai",
        "wholemsg": "false"
    },
    {
        "id": "2d6791d98b2aace5",
        "type": "mqtt in",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "topic": "uppa/jveluz/dog/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "78c2213df8e5b209",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "f6b56cf9a92839f7"
            ]
        ]
    },
    {
        "id": "f6b56cf9a92839f7",
        "type": "function",
        "z": "6e04ada28a2e9f82",
        "name": "function 3",
        "func": "let dogState = flow.get('dogState') || {\n    heart: {},\n    bladder: {},\n    tail: {},\n    vision: {},\n    brain: {},\n    gastric: {},\n};\n\nconst topic = msg.topic;\nconst payload = msg.payload;\n\nif (topic.includes('heart')) {\n    dogState.heart = payload;\n}\nelse if (topic.includes('bladder')) {\n    dogState.bladder = payload;\n}\nelse if (topic.includes('tail')) {\n    dogState.tail = payload;\n}\nelse if (topic.includes('vision')) {\n    dogState.vision = payload;\n}\nelse if (topic.includes('brain')) {\n    dogState.brain = payload;\n}\nelse if (topic.includes('gastric')) {\n    dogState.gastric = payload;\n}\n\nflow.set('dogState', dogState);\n\nmsg.payload = dogState;\n\nmsg.trigger_topic = topic;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3b6e9f33cc277284",
        "type": "websocket out",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "server": "a134ec9fced74993",
        "client": "",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "92b042a8f93cd407",
        "type": "function",
        "z": "6e04ada28a2e9f82",
        "name": "function 4",
        "func": "const apiKey = env.get(\"API_KEY\");\nconst apiUrl = env.get(\"API_URL\");\nconst aiModel = env.get(\"AI_MODEL\");\n\nif (!apiKey || !apiUrl) {\n    return null;\n}\n\nlet dog = msg.payload;\n\nif (!dog || !dog.heart) {\n    dog = {\n        heart: { bpm: 70 },\n        vision: { detected_object: \"RIEN\" },\n        tail: { frequency_hz: 0 },\n        bladder: { estimated_fill_pct: 0 },\n        hunger: 0,\n        energy: 100\n    };\n}\n\nlet contextDescription = `\nDonnées brutes de tes capteurs biologiques :\n${JSON.stringify(dog, null, 2)}\n`;\n\nmsg.url = apiUrl;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \" + apiKey\n};\n\nmsg.payload = {\n    \"model\": aiModel,\n    \"temperature\": 0.7,\n    \"max_tokens\": 60,\n    \"messages\": [\n        {\n            \"role\": \"system\",\n            \"content\": `Tu es un Chien. Tu as un cerveau très simple.\n            \n            TA MISSION : Exprimer ton ressenti IMMÉDIAT basé sur les données de tes capteurs.\n            \n            RÈGLES ABSOLUES :\n            1. INTERDIT d'utiliser le futur ou le conditionnel (pas de \"je vais...\", \"il faudrait...\").\n            2. INTERDIT de proposer une action ou une solution.\n            3. Sois instinctif, utilise des mots-clés, des onomatopées ou des phrases nominales.\n            4. Si tu ne ressens rien de spécial, dis juste \"Ouaf !\" ou \"Wouf !\".\n            5. Si tu es en train de dormir, réponds simplement \"Zzz...\".\n            6. TU PARLES EN FRANÇAIS UNIQUEMENT.\n\n            EXEMPLES À SUIVRE :\n            - Si Vessie > 80% -> \"Pipi ! Vite !\" (Pas : \"Je dois trouver un arbre\")\n            - Si Faim > 80% -> \"Ventre vide... Faim ! Manger !\" (Pas : \"Je vais chercher ma gamelle\")\n            - Si Vision = CHAT -> \"CHAT ! GRRR ! ENNEMI !\"\n            - Si Vision = MAITRE -> \"MAÎTRE ! AMOUR ! QUEUE QUI BOUGE !\"\n            - Si Cœur > 140 -> \"BOUM BOUM BOUM ! Cœur bat fort !\"\n            \n            Format de réponse : Juste le texte de la pensée. Pas de guillemets.`\n        },\n        {\n            \"role\": \"user\",\n            \"content\": contextDescription\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 560,
        "wires": [
            [
                "56eb4a3f74649c51",
                "d683a6016ad0e83b"
            ]
        ]
    },
    {
        "id": "73e1c3024ef9a39f",
        "type": "delay",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "92b042a8f93cd407"
            ]
        ]
    },
    {
        "id": "56eb4a3f74649c51",
        "type": "http request",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 560,
        "wires": [
            [
                "f35fce43234dbe09",
                "c5c1a6848acfd354"
            ]
        ]
    },
    {
        "id": "74dbfd90f3953fce",
        "type": "websocket out",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "server": "8ef5c20e4e888e47",
        "client": "",
        "x": 1310,
        "y": 560,
        "wires": []
    },
    {
        "id": "f35fce43234dbe09",
        "type": "function",
        "z": "6e04ada28a2e9f82",
        "name": "function 5",
        "func": "// On vérifie si Groq a répondu correctement\nif (msg.payload && msg.payload.choices && msg.payload.choices.length > 0) {\n    const adviceText = msg.payload.choices[0].message.content;\n\n    msg.payload = {\n        advice: adviceText,\n        type: \"AI_ADVICE\"\n    };\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 560,
        "wires": [
            [
                "74dbfd90f3953fce",
                "cb80a1f128c699ca"
            ]
        ]
    },
    {
        "id": "cb80a1f128c699ca",
        "type": "debug",
        "z": "6e04ada28a2e9f82",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 640,
        "wires": []
    },
    {
        "id": "c5c1a6848acfd354",
        "type": "debug",
        "z": "6e04ada28a2e9f82",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 640,
        "wires": []
    },
    {
        "id": "d683a6016ad0e83b",
        "type": "debug",
        "z": "6e04ada28a2e9f82",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 640,
        "wires": []
    },
    {
        "id": "4564f0c19d332db1",
        "type": "websocket in",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "server": "a134ec9fced74993",
        "client": "",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "9efc60dc3b99f232"
            ]
        ]
    },
    {
        "id": "9efc60dc3b99f232",
        "type": "function",
        "z": "6e04ada28a2e9f82",
        "name": "function 6",
        "func": "var data = msg.payload;\n\nif (typeof data === 'string') {\n    try {\n        data = JSON.parse(data);\n    } catch(e) { return null; }\n}\n\nif (data.type === 'CALIBRATION') {\n    msg.topic = \"dog/config/calibration\";\n    \n    msg.payload = {\n        sensor_id: data.sensor_id,\n        settings: data.settings\n    };\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 780,
        "wires": [
            [
                "14a2ad875c249b6b",
                "2d0f3dc43c876ce9"
            ]
        ]
    },
    {
        "id": "14a2ad875c249b6b",
        "type": "debug",
        "z": "6e04ada28a2e9f82",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 840,
        "wires": []
    },
    {
        "id": "2d0f3dc43c876ce9",
        "type": "mqtt out",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "topic": "uppa/jveluz/dog/config/calibration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78c2213df8e5b209",
        "x": 600,
        "y": 780,
        "wires": []
    },
    {
        "id": "3d6c254f757e7e4b",
        "type": "debug",
        "z": "6e04ada28a2e9f82",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "12bcbdf8e8b68dc7",
        "type": "inject",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "752bfb75b77414a9"
            ]
        ]
    },
    {
        "id": "752bfb75b77414a9",
        "type": "function",
        "z": "6e04ada28a2e9f82",
        "name": "function 7",
        "func": "let dogState = flow.get('dogState') || {\n    heart: {},\n    bladder: {},\n    tail: {},\n    vision: {},\n    brain: {},\n    gastric: {},\n};\n\nmsg.payload = dogState;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "73e1c3024ef9a39f",
                "3b6e9f33cc277284",
                "3d6c254f757e7e4b"
            ]
        ]
    }
]