gateway/flows.json
[
    {
        "id": "6e04ada28a2e9f82",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78c2213df8e5b209",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a134ec9fced74993",
        "type": "websocket-listener",
        "path": "/ws/sensors",
        "wholemsg": "false"
    },
    {
        "id": "8ef5c20e4e888e47",
        "type": "websocket-listener",
        "path": "/ws/ai",
        "wholemsg": "false"
    },
    {
        "id": "c71e408281c3998b",
        "type": "debug",
        "z": "6e04ada28a2e9f82",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "efaca0baa2a34fd0",
        "type": "mqtt in",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "topic": "uppa/jveluz/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "78c2213df8e5b209",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "c71e408281c3998b",
                "219652541378ea1a",
                "8ae0654925bae368"
            ]
        ]
    },
    {
        "id": "219652541378ea1a",
        "type": "websocket out",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "server": "a134ec9fced74993",
        "client": "",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "b1160216447b9597",
        "type": "http request",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "1aec9145b484ea2c"
            ]
        ]
    },
    {
        "id": "4519c7daf6095d6d",
        "type": "websocket out",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "server": "8ef5c20e4e888e47",
        "client": "",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "8ae0654925bae368",
        "type": "function",
        "z": "6e04ada28a2e9f82",
        "name": "function 1",
        "func": "// --- 1. CONFIGURATION ---\nconst COOLDOWN = 10000; // Analyse toutes les 10 secondes\nconst WINDOW_SIZE = 30; // Fenêtre d'analyse glissante\nconst now = Date.now();\n\n// --- 2. GESTION DE L'HISTORIQUE (DOSSIER PATIENT) ---\nlet history = context.get('patientHistory') || [];\n\nif (msg.payload.metrics) {\n    history.push({\n        stress: msg.payload.metrics.stress || 0,\n        bpm: msg.payload.metrics.heart_rate || 0,\n        timestamp: now\n    });\n}\n\n// On garde les 30 dernières mesures\nif (history.length > WINDOW_SIZE) {\n    history.shift();\n}\n\ncontext.set('patientHistory', history);\n\n// --- 3. RATE LIMITER ---\nlet lastCheck = context.get('lastGroqCall') || 0;\n\n// On attend d'avoir un peu d'historique (min 5 mesures) et que le temps soit écoulé\nif ((now - lastCheck < COOLDOWN) || (history.length < 5)) {\n    return null;\n}\n\ncontext.set('lastGroqCall', now);\n\n// --- 4. ANALYSE CLINIQUE (PRE-PROCESSING) ---\nlet sumStress = 0;\nlet sumBpm = 0;\nlet minStress = 100;\nlet maxStress = 0;\n\nhistory.forEach(h => {\n    sumStress += h.stress;\n    sumBpm += h.bpm;\n    if (h.stress < minStress) minStress = h.stress;\n    if (h.stress > maxStress) maxStress = h.stress;\n});\n\nconst avgStress = Math.round(sumStress / history.length);\nconst avgBpm = Math.round(sumBpm / history.length);\nconst lastVal = history[history.length - 1];\n\n// Détection de l'évolution de l'état du patient\nlet trend = \"stable\";\nif (lastVal.stress > avgStress + 5) trend = \"agitation en hausse\";\nelse if (lastVal.stress < avgStress - 5) trend = \"apaisement\";\n\n\n// --- 5. ORDONNANCE IA (PROMPT MÉDICAL) ---\nconst apiKey = env.get(\"GROQ_API_KEY\") || \"TA_CLE_GROQ_ICI\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \" + apiKey\n};\n\n// On construit un rapport médical concis\nconst clinicalReport = `\nRapport Constantes (30s):\n- Niveau Stress/Douleur Moy: ${avgStress}/100 (Pic à ${maxStress}).\n- Évolution: ${trend}.\n- Fréquence Cardiaque Moy: ${avgBpm} BPM.\n- Batterie Capteur: ${msg.payload.metrics.battery}%.\n`;\n\nmsg.payload = {\n    \"model\": \"llama-3.1-8b-instant\",\n    \"messages\": [\n        {\n            \"role\": \"system\",\n            \"content\": \"Tu es un assistant médical IA pour infirmiers. Analyse les constantes vitales du patient. Donne une action prioritaire ou une observation clinique brève (max 15 mots). Ton ton est professionnel, calme et médical.\"\n        },\n        {\n            \"role\": \"user\",\n            \"content\": clinicalReport\n        }\n    ],\n    \"max_tokens\": 60\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "258aaa782e9a4c70",
                "b1160216447b9597"
            ]
        ]
    },
    {
        "id": "1aec9145b484ea2c",
        "type": "function",
        "z": "6e04ada28a2e9f82",
        "name": "function 2",
        "func": "// On vérifie si Groq a répondu correctement\nif (msg.payload && msg.payload.choices && msg.payload.choices.length > 0) {\n    const adviceText = msg.payload.choices[0].message.content;\n\n    msg.payload = {\n        advice: adviceText,\n        type: \"AI_ADVICE\"\n    };\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "4519c7daf6095d6d",
                "13b3d11c5ab0eabf"
            ]
        ]
    },
    {
        "id": "13b3d11c5ab0eabf",
        "type": "debug",
        "z": "6e04ada28a2e9f82",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "258aaa782e9a4c70",
        "type": "debug",
        "z": "6e04ada28a2e9f82",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "93dbae9dad21fda6",
        "type": "inject",
        "z": "6e04ada28a2e9f82",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "b1160216447b9597"
            ]
        ]
    }
]